body { 
font-family: 'Nunito Sans', sans-serif;
background-color: hsl(343, 58%, 89%);
width: 450px; 
}

h2 {
font-size:50px; 
}

.Image {
  width: 350px;
}
.button {
  background-color: #FFB6C1;
  border: none;
  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button img{
  max-width: 100%;
  margin: auto;
  height: 75px;
  display: block;
}

.button:Hover {
background-color: white;
}

.button2 {
  background-color: #FFB6C1;
  border: none;
  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 img{
  max-width: 100%;
  margin: auto;
  height: 75px;
  display: block;
}
.button2:Hover {
  background-color: white;
}